@charset "UTF-8";


/* ===================================================================

updated at 2019/6/24

====================================================================== */
/* Scss Document */
/* -------------------------------------------------------------------
 + admiin
------------------------------------------------------------------- */
/* + reset
------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  zoom: 1;
  /* for IE */
  -webkit-text-size-adjust: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, object, iframe, pre, code, p, blockquote, form, fieldset, legend, table, th, td, caption, thead, tbody, tfoot, article, aside, figure, footer, header, hgroup, menu, nav, section, audio, video, canvas {
  margin: 0;
  padding: 0;
}

article, aside, figure, figcaption, footer, h1, h2, h3, h4, h5, h6, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box;
}

li {
  list-style: none;
  box-sizing: border-box;
}

img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  line-height: 0;
}

div, dt, dd {
  box-sizing: border-box;
}

/* + ms style
------------------------------------------------------------------- */
/* - following ms share point style (excerpt from 'corev15.css') */
/*   don't edit these styles. */
/*   to override, go to 'kill or modify them' section. */
body {
  margin: 0;
  overflow: auto;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  font-size: .875rem;
  zoom: 1;
  /* for IE */
}

img, iframe {
  border: medium none;
}

hr {
  border-top: 1px solid #C6C6C6;
  border-width: 1px 0 0;
}

table {
  border-width: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: auto;
  font-weight: normal;
}

h1 {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  font-size: 2.3em;
  font-weight: 200;
}

h2, h3 {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 1.46rem;
}

h3 {
  font-size: 1.15rem;
}

h4, h5, h6 {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

h4 {
  font-size: 1rem;
}

h5, h6 {
  font-size: 1rem;
}

/* + clearfix
------------------------------------------------------------------- */
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/* + float
------------------------------------------------------------------- */
.f-l {
  float: left;
}

.f-r {
  float: right;
}

/* + layout
------------------------------------------------------------------- */
.d-flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: baseline;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.fwb {
  font-weight: bold;
}

.hidden {
  display: none !important;
}

.hidden * {
  display: none !important;
}

/* + button
------------------------------------------------------------------- */
.cmn-btn.is-blue, input[type="button"].cmn-btn.is-blue {
  background-color: #2f8cff;
}

.cmn-btn.is-green, input[type="button"].cmn-btn.is-green {
  background-color: #94de45;
}

.cmn-btn.is-red, input[type="button"].cmn-btn.is-red {
  background-color: #ef4836;
}

.cmn-btn.is-gray, input[type="button"].cmn-btn.is-gray {
  background-color: #6c757d;
}

.cmn-btn.is-reset, input[type="button"].cmn-btn.is-reset {
  background-color: #6c757d;
}

.cmn-btn.is-pink, input[type="button"].cmn-btn.is-pink {
  background: #e71173;
}

/* + link
------------------------------------------------------------------- */
a:hover {
  text-decoration: none;
  cursor: pointer !important;
}

/* + module
------------------------------------------------------------------- */
.col2 {
  width: 50%;
}

.mgt-10 {
  margin-top: 10px !important;
}

.mgt-20 {
  margin-top: 20px !important;
}

.mgt-30 {
  margin-top: 30px !important;
}

.mgt-40 {
  margin-top: 40px !important;
}

.mgt-50 {
  margin-top: 50px !important;
}

.mgt-60 {
  margin-top: 60px !important;
}

.mgt-70 {
  margin-top: 70px !important;
}

.mgt-80 {
  margin-top: 80px !important;
}

.mgt-90 {
  margin-top: 90px !important;
}

.mgt-100 {
  margin-top: 100px !important;
}

.mgb-10 {
  margin-bottom: 10px !important;
}

.mgb-20 {
  margin-bottom: 20px !important;
}

.mgb-30 {
  margin-bottom: 30px !important;
}

.mgb-40 {
  margin-bottom: 40px !important;
}

.mgb-50 {
  margin-bottom: 50px !important;
}

.mgb-60 {
  margin-bottom: 60px !important;
}

.mgb-70 {
  margin-bottom: 70px !important;
}

.mgb-80 {
  margin-bottom: 80px !important;
}

.mgb-90 {
  margin-bottom: 90px !important;
}

.mgb-100 {
  margin-bottom: 100px !important;
}

.mgr-10 {
  margin-right: 10px !important;
}

.mgr-20 {
  margin-right: 20px !important;
}

.mgr-30 {
  margin-right: 30px !important;
}

.mgr-40 {
  margin-right: 40px !important;
}

.mgr-50 {
  margin-right: 50px !important;
}

.mgr-60 {
  margin-right: 60px !important;
}

.mgr-70 {
  margin-right: 70px !important;
}

.mgr-80 {
  margin-right: 80px !important;
}

.mgr-90 {
  margin-right: 90px !important;
}

.mgr-100 {
  margin-right: 100px !important;
}

.mgl-10 {
  margin-left: 10px !important;
}

.mgl-20 {
  margin-left: 20px !important;
}

.mgl-30 {
  margin-left: 30px !important;
}

.mgl-40 {
  margin-left: 40px !important;
}

.mgl-50 {
  margin-left: 50px !important;
}

.mgl-60 {
  margin-left: 60px !important;
}

.mgl-70 {
  margin-left: 70px !important;
}

.mgl-80 {
  margin-left: 80px !important;
}

.mgl-90 {
  margin-left: 90px !important;
}

.mgl-100 {
  margin-left: 100px !important;
}

.pdt-10 {
  padding-top: 10px !important;
}

.pdt-20 {
  padding-top: 20px !important;
}

.pdt-30 {
  padding-top: 30px !important;
}

.pdt-40 {
  padding-top: 40px !important;
}

.pdt-50 {
  padding-top: 50px !important;
}

.pdt-60 {
  padding-top: 60px !important;
}

.pdt-70 {
  padding-top: 70px !important;
}

.pdt-80 {
  padding-top: 80px !important;
}

.pdt-90 {
  padding-top: 90px !important;
}

.pdt-100 {
  padding-top: 100px !important;
}

.pdb-10 {
  padding-bottom: 10px !important;
}

.pdb-20 {
  padding-bottom: 20px !important;
}

.pdb-30 {
  padding-bottom: 30px !important;
}

.pdb-40 {
  padding-bottom: 40px !important;
}

.pdb-50 {
  padding-bottom: 50px !important;
}

.pdb-60 {
  padding-bottom: 60px !important;
}

.pdb-70 {
  padding-bottom: 70px !important;
}

.pdb-80 {
  padding-bottom: 80px !important;
}

.pdb-90 {
  padding-bottom: 90px !important;
}

.pdb-100 {
  padding-bottom: 100px !important;
}

.pdr-10 {
  padding-right: 10px !important;
}

.pdr-20 {
  padding-right: 20px !important;
}

.pdr-30 {
  padding-right: 30px !important;
}

.pdr-40 {
  padding-right: 40px !important;
}

.pdr-50 {
  padding-right: 50px !important;
}

.pdr-60 {
  padding-right: 60px !important;
}

.pdr-70 {
  padding-right: 70px !important;
}

.pdr-80 {
  padding-right: 80px !important;
}

.pdr-90 {
  padding-right: 90px !important;
}

.pdr-100 {
  padding-right: 100px !important;
}

.pdl-10 {
  padding-left: 10px !important;
}

.pdl-20 {
  padding-left: 20px !important;
}

.pdl-30 {
  padding-left: 30px !important;
}

.pdl-40 {
  padding-left: 40px !important;
}

.pdl-50 {
  padding-left: 50px !important;
}

.pdl-60 {
  padding-left: 60px !important;
}

.pdl-70 {
  padding-left: 70px !important;
}

.pdl-80 {
  padding-left: 80px !important;
}

.pdl-90 {
  padding-left: 90px !important;
}

.pdl-100 {
  padding-left: 100px !important;
}

.w-10 {
  width: 10px !important;
}

.w-20 {
  width: 20px !important;
}

.w-30 {
  width: 30px !important;
}

.w-40 {
  width: 40px !important;
}

.w-50 {
  width: 50px !important;
}

.w-60 {
  width: 60px !important;
}

.w-70 {
  width: 70px !important;
}

.w-80 {
  width: 80px !important;
}

.w-90 {
  width: 90px !important;
}

.w-100 {
  width: 100px !important;
}

.w-110 {
  width: 110px !important;
}

.w-120 {
  width: 120px !important;
}

.w-130 {
  width: 130px !important;
}

.w-140 {
  width: 140px !important;
}

.w-150 {
  width: 150px !important;
}

.w-160 {
  width: 160px !important;
}

.w-180 {
  width: 180px !important;
}

.w-200 {
  width: 200px !important;
}

.w-220 {
  width: 220px !important;
}

.w-240 {
  width: 240px !important;
}

.w-260 {
  width: 260px !important;
}

.w-280 {
  width: 280px !important;
}

.w-300 {
  width: 300px !important;
}

.w-350 {
  width: 350px !important;
}

.w-400 {
  width: 400px !important;
}

.h-10 {
  height: 10px !important;
}

.h-20 {
  height: 20px !important;
}

.h-30 {
  height: 30px !important;
}

.h-40 {
  height: 40px !important;
}

.h-50 {
  height: 50px !important;
}

.h-60 {
  height: 60px !important;
}

.h-70 {
  height: 70px !important;
}

.h-80 {
  height: 80px !important;
}

.h-90 {
  height: 90px !important;
}

.h-100 {
  height: 100px !important;
}

.h-110 {
  height: 110px !important;
}

.h-120 {
  height: 120px !important;
}

.h-130 {
  height: 130px !important;
}

.h-140 {
  height: 140px !important;
}

.h-150 {
  height: 150px !important;
}

.h-160 {
  height: 160px !important;
}

.h-180 {
  height: 180px !important;
}

.h-200 {
  height: 200px !important;
}

.h-220 {
  height: 220px !important;
}

.h-240 {
  height: 240px !important;
}

.h-260 {
  height: 260px !important;
}

.h-280 {
  height: 280px !important;
}

.h-300 {
  height: 300px !important;
}

.h-350 {
  height: 350px !important;
}

.h-400 {
  height: 400px !important;
}

.maxW-10 {
  max-width: 10px !important;
}

.maxW-20 {
  max-width: 20px !important;
}

.maxW-30 {
  max-width: 30px !important;
}

.maxW-40 {
  max-width: 40px !important;
}

.maxW-50 {
  max-width: 50px !important;
}

.maxW-60 {
  max-width: 60px !important;
}

.maxW-70 {
  max-width: 70px !important;
}

.maxW-80 {
  max-width: 80px !important;
}

.maxW-90 {
  max-width: 90px !important;
}

.maxW-100 {
  max-width: 100px !important;
}

.maxW-110 {
  max-width: 110px !important;
}

.maxW-120 {
  max-width: 120px !important;
}

.maxW-130 {
  max-width: 130px !important;
}

.maxW-140 {
  max-width: 140px !important;
}

.maxW-150 {
  max-width: 150px !important;
}

.maxW-160 {
  max-width: 160px !important;
}

.maxW-180 {
  max-width: 180px !important;
}

.maxW-200 {
  max-width: 200px !important;
}

.maxW-220 {
  max-width: 220px !important;
}

.maxW-240 {
  max-width: 240px !important;
}

.maxW-260 {
  max-width: 260px !important;
}

.maxW-280 {
  max-width: 280px !important;
}

.maxW-300 {
  max-width: 300px !important;
}

.maxW-350 {
  max-width: 350px !important;
}

.maxW-400 {
  max-width: 400px !important;
}

.minW-10 {
  min-width: 10px !important;
}

.minW-20 {
  min-width: 20px !important;
}

.minW-30 {
  min-width: 30px !important;
}

.minW-40 {
  min-width: 40px !important;
}

.minW-50 {
  min-width: 50px !important;
}

.minW-60 {
  min-width: 60px !important;
}

.minW-70 {
  min-width: 70px !important;
}

.minW-80 {
  min-width: 80px !important;
}

.minW-90 {
  min-width: 90px !important;
}

.minW-100 {
  min-width: 100px !important;
}

.minW-110 {
  min-width: 110px !important;
}

.minW-120 {
  min-width: 120px !important;
}

.minW-130 {
  min-width: 130px !important;
}

.minW-140 {
  min-width: 140px !important;
}

.minW-150 {
  min-width: 150px !important;
}

.minW-160 {
  min-width: 160px !important;
}

.minW-180 {
  min-width: 180px !important;
}

.minW-200 {
  min-width: 200px !important;
}

.minW-220 {
  min-width: 220px !important;
}

.minW-240 {
  min-width: 240px !important;
}

.minW-260 {
  min-width: 260px !important;
}

.minW-280 {
  min-width: 280px !important;
}

.minW-300 {
  min-width: 300px !important;
}

.minW-350 {
  min-width: 350px !important;
}

.minW-400 {
  min-width: 400px !important;
}

.min-maxW-10 {
  min-width: 10px !important;
  max-width: 10px !important;
}

.min-maxW-20 {
  min-width: 20px !important;
  max-width: 20px !important;
}

.min-maxW-30 {
  min-width: 30px !important;
  max-width: 30px !important;
}

.min-maxW-40 {
  min-width: 40px !important;
  max-width: 40px !important;
}

.min-maxW-50 {
  min-width: 50px !important;
  max-width: 50px !important;
}

.min-maxW-60 {
  min-width: 60px !important;
  max-width: 60px !important;
}

.min-maxW-70 {
  min-width: 70px !important;
  max-width: 70px !important;
}

.min-maxW-80 {
  min-width: 80px !important;
  max-width: 80px !important;
}

.min-maxW-90 {
  min-width: 90px !important;
  max-width: 90px !important;
}

.min-maxW-100 {
  min-width: 100px !important;
  max-width: 100px !important;
}

.min-maxW-110 {
  min-width: 110px !important;
  max-width: 110px !important;
}

.min-maxW-120 {
  min-width: 120px !important;
  max-width: 120px !important;
}

.min-maxW-130 {
  min-width: 130px !important;
  max-width: 130px !important;
}

.min-maxW-140 {
  min-width: 140px !important;
  max-width: 140px !important;
}

.min-maxW-150 {
  min-width: 150px !important;
  max-width: 150px !important;
}

.min-maxW-160 {
  min-width: 160px !important;
  max-width: 160px !important;
}

.min-maxW-180 {
  min-width: 180px !important;
  max-width: 180px !important;
}

.min-maxW-200 {
  min-width: 200px !important;
  max-width: 200px !important;
}

.min-maxW-220 {
  min-width: 220px !important;
  max-width: 220px !important;
}

.min-maxW-240 {
  min-width: 240px !important;
  max-width: 240px !important;
}

.min-maxW-260 {
  min-width: 260px !important;
  max-width: 260px !important;
}

.min-maxW-280 {
  min-width: 280px !important;
  max-width: 280px !important;
}

.min-maxW-300 {
  min-width: 300px !important;
  max-width: 300px !important;
}

.min-maxW-350 {
  min-width: 350px !important;
  max-width: 350px !important;
}

.min-maxW-400 {
  min-width: 400px !important;
  max-width: 400px !important;
}

/* + datetimepicker
------------------------------------------------------------------- */
.xdsoft_datetimepicker .xdsoft_label > span {
  text-decoration: underline;
  color: #808080;
}

.xdsoft_datetimepicker .xdsoft_label:hover > span {
  color: #333;
}
