@charset "UTF-8";


/* ===================================================================

updated at 2020/2/28

====================================================================== */
/* + reset
------------------------------------------------------------------- */
html {
  word-break: break-all;
}

/* + ms style
------------------------------------------------------------------- */
body {
  background-color: #f4f7f6;
  color: #6c6c6c;
}

@media (max-width: 767px) {
  body {
    font-size: 1rem;
  }
}

/* + display
------------------------------------------------------------------- */
.pc-only {
  display: block;
}

@media (max-width: 767px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}

@media (max-width: 767px) {
  .sp-only {
    display: block;
  }
}

/* + layout
------------------------------------------------------------------- */
.l-main {
  margin: 0 auto;
  max-width: 1120px;
  box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .l-main {
    max-width: 1004px;
    min-width: 748px;
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .l-main {
    max-width: 100%;
    margin: 0 2%;
  }
}

.sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.static {
  position: static !important;
}

.stickyTable {
  z-index: 70;
}

.absolute {
  position: absolute;
}

.fixed, .ieFixed {
  position: fixed !important;
  max-width: 1800px;
  width: 100%;
}

.fixed th:first-child, .ieFixed th:first-child {
  background: none;
}

/* + title text
------------------------------------------------------------------- */
.ttl-sec {
  font-size: 1.125rem;
  padding-left: 10px;
  position: relative;
  font-weight: bold;
  margin-bottom: 1rem;
}

.ttl-sec::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 1.125rem;
  background-color: #cacaca;
  position: absolute;
  left: 0;
  top: .25rem;
}

.cmn-txt + .cmn-txt {
  margin-top: 1rem;
}

@media (min-width: 1025px) {
  .cmn-txt {
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cmn-txt {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .cmn-txt {
    font-size: 1rem;
  }
}

hr.cmn-hr {
  background-color: #efefef;
  height: 1px;
  border: none;
  margin: 1em 0;
}

/* + button
------------------------------------------------------------------- */
.cmn-btn, input[type="button"].cmn-btn {
  letter-spacing: .05em;
  color: #fff;
  border-radius: 4px;
  padding: 1em;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

@media (min-width: 1025px) {
  .cmn-btn, input[type="button"].cmn-btn {
    transition-duration: 0.3s;
  }
}

.cmn-btn.is-reset, input[type="button"].cmn-btn.is-reset {
  padding: .4em 1em;
  vertical-align: middle;
}

.cmn-btn.is-circle, input[type="button"].cmn-btn.is-circle {
  border-radius: 30px;
}

@media (min-width: 1025px) {
  .cmn-btn:hover, input[type="button"].cmn-btn:hover {
    opacity: 0.7;
  }
}

.cmn-btn.size-middle, input[type="button"].cmn-btn.size-middle {
  padding: 1em 2em;
}

@media (max-width: 767px) {
  .cmn-btn.size-middle, input[type="button"].cmn-btn.size-middle {
    padding: 1em .5em;
  }
}

.cmn-btn.size-long, input[type="button"].cmn-btn.size-long {
  padding: 1em 4em;
}

@media (max-width: 767px) {
  .cmn-btn.size-long, input[type="button"].cmn-btn.size-long {
    padding: 1em .5em;
  }
}

.icon svg {
  fill: #2f8cff;
}

/* + link
------------------------------------------------------------------- */
.link-txt {
  color: #2f8cff;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.link-txt:hover {
  text-decoration: none;
}

.link-txt.is-window {
  background: url(../../images/user/icon_link_window.svg) no-repeat right;
  padding-right: 20px;
}

/* + form
------------------------------------------------------------------- */
fieldset {
  border: none;
}

input[type="button"], input[type="submit"] {
  padding: 7px 10px;
  border: none;
  background-color: #FDFDFD;
  color: #6c6c6c;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

input[type="reset"] {
  border: none;
  background: none;
  cursor: pointer;
}

button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: .75rem;
}

input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
}

input, select, label, textarea, button, option {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  vertical-align: middle;
}

textarea {
  overflow: auto;
}

input[type="password"], input[type="text"], input[type="file"], input[type="tel"] {
  border-radius: 4px;
}

textarea {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #bdc1cc;
  border-radius: 3px;
}

select {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid #bdc1cc;
  color: #6c6c6c;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.cmn-select {
  position: relative;
  display: inline-block;
}

.cmn-select::after {
  content: '';
  width: 0;
  height: 0;
  bottom: 0;
  border-bottom: solid 6px #6c6c6c;
  border-left: solid 6px transparent;
  border-right: solid 6px transparent;
  transform: rotate(180deg);
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  z-index: 10;
}

.cmn-select .select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 33px;
  background: transparent;
  position: relative;
  z-index: 1;
  border: 1px solid #bdc1cc;
  border-radius: 4px;
  color: #6c6c6c;
  background: #fff;
}

@media (min-width: 1025px) {
  .cmn-select .select {
    padding: 0 40px 0 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cmn-select .select {
    padding: 0 40px 0 10px;
  }
}

@media (max-width: 767px) {
  .cmn-select .select {
    padding: 0 25px 0 10px;
  }
}

.cmn-select .select.warning {
  border: 1px solid #ef4836 !important;
  background: #ffefee !important;
}

input[type="password"], input[type="text"], input[type="file"], input[type="tel"] {
  padding: 2px 5px;
}

textarea {
  padding: 5px;
  line-height: 1.7;
}

textarea.warning {
  border: 1px solid #ef4836 !important;
  background: #ffefee !important;
}

select:focus, textarea:focus {
  border-color: #2A8DD4;
}

input[type="password"]:hover, input[type="text"]:hover, input[type="file"]:hover, input[type="tel"]:hover {
  border-color: #92C0E0;
}

textarea:hover {
  border-color: #92C0E0;
}

label.cmn-radio {
  display: inline-block;
  background-color: #f4f7f6;
  margin-bottom: .25rem;
  margin-right: 10px;
  cursor: pointer;
  font-size: 0.875rem;
  position: relative;
  padding: 5px 15px 5px 25px;
}

label.cmn-radio::before {
  content: '';
  border: none;
  display: block;
  width: 8px;
  height: 8px;
  top: 50%;
  margin-top: -4px;
  left: 8px;
  position: absolute;
  background: #2f8cff;
  border-radius: 50%;
  transform: rotate(45deg);
  opacity: 0;
  z-index: 1;
}

label.cmn-radio::after {
  content: '';
  border: 1px solid #cacaca;
  display: block;
  width: 14px;
  height: 14px;
  top: 50%;
  margin-top: -7px;
  left: 5px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  opacity: 1;
  z-index: 0;
}

label.cmn-radio.no-txt-label {
  padding: 0;
  width: 14px;
  background: none;
  margin: 0 auto;
}

label.cmn-radio.no-txt-label::before {
  left: 4px;
}

label.cmn-radio.no-txt-label::after {
  left: 0;
}

label.cmn-radio.warning {
  background-color: #ffefee !important;
  border: 1px solid #ef4836 !important;
}

label.cmn-check {
  display: inline-block;
  margin-bottom: .25rem;
  margin-right: 10px;
  cursor: pointer;
  font-size: 0.875rem;
  position: relative;
  background-color: #f4f7f6;
  padding: 5px 15px 5px 25px;
}

label.cmn-check::before {
  content: '';
  border: none;
  display: block;
  width: 6px;
  height: 9px;
  top: 50%;
  margin-top: -6px;
  left: 9px;
  position: absolute;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  opacity: 0;
  z-index: 1;
}

label.cmn-check::after {
  content: '';
  border: 1px solid #cacaca;
  display: block;
  width: 14px;
  height: 14px;
  top: 50%;
  margin-top: -7px;
  left: 5px;
  position: absolute;
  background: #fff;
  border-radius: 2px;
  opacity: 1;
  z-index: 0;
}

label.cmn-check.no-txt-label {
  padding: 0;
  width: 14px;
  background: none;
  margin: 0 auto;
}

label.cmn-check.no-txt-label::before {
  left: 4px;
}

label.cmn-check.no-txt-label::after {
  left: 0;
}

.btn-block input.cmn-check, .btn-block input.cmn-radio {
  display: block;
  visibility: hidden;
  margin-top: -14px;
}

input.cmn-check, input.cmn-radio {
  display: none;
}

input.cmn-check:checked + .cmn-check::before {
  display: block;
  opacity: 1;
}

input.cmn-check:checked + .cmn-check::after {
  content: '';
  border: none;
  background: #2f8cff;
}

input.cmn-radio:checked + .cmn-radio::before {
  display: block;
  opacity: 1;
}

input.cmn-radio:checked + .cmn-radio::after {
  content: '';
  background: #fff;
}

input.warning + .cmn-check, input.warning + .cmn-radio {
  background-color: #ffefee !important;
  border: 1px solid #ef4836 !important;
}

.retrieval-btn {
  border: 2px solid #cacaca;
  border-radius: 3px;
  background-color: #fff;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  box-sizing: border-box;
  position: relative;
  border-radius: 4px;
  margin-bottom: 5px;
}

@media (min-width: 1025px) {
  .retrieval-btn:hover {
    opacity: 0.7;
  }
}

.retrieval-btn.is-label {
  padding: 5px 25px 5px 10px;
}

.retrieval-btn.is-label::after {
  content: '';
  width: 7px;
  height: 7px;
  border: 0;
  border-bottom: solid 2px #cacaca;
  border-right: solid 2px #cacaca;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -4px;
}

.retrieval-btn.is-tag {
  padding: 5px 30px 5px 10px;
}

.retrieval-btn.is-tag::after {
  content: '';
  border: 1px solid #cacaca;
  display: block;
  width: 14px;
  height: 14px;
  top: 50%;
  margin-top: -7px;
  right: 10px;
  position: absolute;
  background: #fff;
  border-radius: 2px;
  opacity: 1;
  z-index: 0;
}

.retrieval-btn.is-tag::before {
  content: '';
  border: none;
  display: block;
  width: 6px;
  height: 9px;
  top: 50%;
  margin-top: -6px;
  right: 14px;
  position: absolute;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  opacity: 0;
  z-index: 1;
}

input.check-tag, input.radio-label {
  display: none;
}

input.check-tag:checked + .retrieval-btn.is-tag {
  color: #2f8cff;
  border: 2px solid #2f8cff;
}

input.check-tag:checked + .retrieval-btn.is-tag::after {
  background: #2f8cff;
  border: none;
}

input.check-tag:checked + .retrieval-btn.is-tag::before {
  opacity: 1;
}

input.radio-label:checked + .retrieval-btn.is-label {
  color: #2f8cff;
  border: 2px solid #2f8cff;
}

input.radio-label:checked + .retrieval-btn.is-label::after {
  border-bottom: solid 2px #2f8cff;
  border-right: solid 2px #2f8cff;
  transform: rotate(225deg);
  margin-top: -2px;
}

input[type="radio"] {
  vertical-align: middle;
  height: 14px;
  width: 14px;
  margin-top: -1px;
}

input[type="radio"] + label {
  padding-right: 15px;
}

input[type="checkbox"] {
  padding-right: 15px;
}

input[type='button']:hover {
  cursor: pointer !important;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
  padding: 5px;
  border: 1px solid #bdc1cc;
}

@media (min-width: 1025px) {
  input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
    width: 300px;
  }
  input[type="text"].textbox_w300, input[type="email"].textbox_w300, input[type="password"].textbox_w300, input[type="tel"].textbox_w300 {
    width: 300px;
  }
  input[type="text"].textbox_w200, input[type="email"].textbox_w200, input[type="password"].textbox_w200, input[type="tel"].textbox_w200 {
    width: 200px;
  }
  input[type="text"].textbox_w150, input[type="email"].textbox_w150, input[type="password"].textbox_w150, input[type="tel"].textbox_w150 {
    width: 150px;
  }
  input[type="text"].textbox_w70, input[type="email"].textbox_w70, input[type="password"].textbox_w70, input[type="tel"].textbox_w70 {
    width: 70px;
  }
  input[type="text"].textbox_w50, input[type="email"].textbox_w50, input[type="password"].textbox_w50, input[type="tel"].textbox_w50 {
    width: 50px;
  }
}

input[type="text"].warning, input[type="email"].warning, input[type="password"].warning, input[type="tel"].warning {
  border: 1px solid #ef4836 !important;
  background-color: #ffefee !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  input[type="text"].textbox_w300, input[type="text"].textbox_w150, input[type="text"].textbox_w70, input[type="text"].textbox_w50, input[type="email"].textbox_w300, input[type="email"].textbox_w150, input[type="email"].textbox_w70, input[type="email"].textbox_w50, input[type="password"].textbox_w300, input[type="password"].textbox_w150, input[type="password"].textbox_w70, input[type="password"].textbox_w50, input[type="tel"].textbox_w300, input[type="tel"].textbox_w150, input[type="tel"].textbox_w70, input[type="tel"].textbox_w50 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  input[type="text"].textbox_w300, input[type="text"].textbox_w150, input[type="text"].textbox_w70, input[type="text"].textbox_w50, input[type="email"].textbox_w300, input[type="email"].textbox_w150, input[type="email"].textbox_w70, input[type="email"].textbox_w50, input[type="password"].textbox_w300, input[type="password"].textbox_w150, input[type="password"].textbox_w70, input[type="password"].textbox_w50, input[type="tel"].textbox_w300, input[type="tel"].textbox_w150, input[type="tel"].textbox_w70, input[type="tel"].textbox_w50 {
    width: 100%;
  }
}

span.warning {
  font-size: 0.875rem;
  color: #ef4836 !important;
  font-weight: bold;
  display: block;
  padding-top: .2rem;
}

input:disabled, select:disabled {
  background-color: #b9b9b9 !important;
}

input:disabled::after, select:disabled::after {
  background-color: #eee !important;
}

input:disabled + label::after, select:disabled + label::after {
  background-color: #eee !important;
  border: 1px solid #cacaca !important;
}

input:disabled + label.cmn-radio, select:disabled + label.cmn-radio {
  background-color: #b9b9b9;
}

input:disabled + label.cmn-radio::before, select:disabled + label.cmn-radio::before {
  background-color: #b9b9b9 !important;
}

input:disabled + label.cmn-check, select:disabled + label.cmn-check {
  background-color: #b9b9b9;
}

input:disabled + label.cmn-check ::before, select:disabled + label.cmn-check ::before {
  border-bottom: 2px solid #b9b9b9 !important;
  border-right: 2px solid #b9b9b9 !important;
}
